<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.project.storage.mapper.AppAdviceMapper">

    <insert id="setAdvice" parameterType="com.ruoyi.project.storage.domain.AdviceVO">
        INSERT INTO t_advice
        (
            `user_id`,
            `title`,
            `content`,
            `sort_no`,
            `create_time`,
            `create_by`,
            `update_time`,
            `update_by`,
            `version`,
            `del_flag`
        )
        VALUES
            (
                #{userId},
                #{title},
                #{content},
                1,
                now(),
                #{createBy},
                now(),
                #{updateBy},
                0,
                '0'
            );
    </insert>
</mapper>