<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.project.storage.mapper.AppPointRecordMapper">

    <select id="getList" resultType="com.ruoyi.project.storage.domain.PointRecordVO" parameterType="java.lang.Long">
        select
            `id`,
            `user_id` userId,
            `way`,
            `points`,
            `advertisement_id` advertisementId,
            `order_id` orderId,
            `sort_no` sortNo,
            `create_time` createTime,
            `create_by` createBy,
            `update_time` updateTime,
            `update_by` updateBy,
            `version`,
            `del_flag` delFlag
        from t_point_record t
        where t.del_flag = 0
        and t.user_id = #{userId}
    </select>

    <insert id="savePoint" parameterType="com.ruoyi.project.storage.domain.PointRecordVO">
        INSERT INTO t_point_record
        (
             `user_id`,
             `way`,
             `points`,
             `advertisement_id`,
             `order_id`,
             `sort_no`,
             `create_time`,
             `create_by`,
             `update_time`,
             `update_by`,
             `version`,
             `del_flag`
         )
        VALUES
	    (
             #{userId},
             #{way},
             #{points},
             #{advertisementId},
             #{orderId},
             #{sortNo},
             now(),
             #{createBy},
             now(),
             #{updateBy},
             0,
             '0'
	    );
    </insert>

    <select id="selectPoint" resultType="java.lang.Long">
        select current_points
        from sys_user
        where user_name = #{username}
    </select>
</mapper>