<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.project.storage.mapper.ManagerOrderMapper">

    <sql id="SelectOrder">
        select
            t.`id`,
            t.`user_id` userId,
            t.`status`,
            `order_code` orderCode,
            `order_name` orderName,
            `empty_box_order_time` emptyBoxOrderTime,
            `heavy_box_order_time` heavyBoxOrderTime,
            `empty_box_call_name` emptyBoxCallName,
            `empty_box_call_phone` emptyBoxCallPhone,
            `empty_box_call_address` emptyBoxCallAddress,
            `empty_box_call_time` emptyBoxCallTime,
            `empty_box_call_interval` emptyBoxCallInterval,
            `heavy_box_call_name` heavyBoxCallName,
            `heavy_box_call_phone` heavyBoxCallPhone,
            `heavy_box_call_address` heavyBoxCallAddress,
            `heavy_box_call_time` heavyBoxCallTime,
            `heavy_box_call_interval` heavyBoxCallInterval,
            `box_id` boxId,
            `box_code` boxCode,
            `box_standard` boxStandard,
            `box_unit_price` boxUnitPrice,
            `lease_duration` leaseDuration,
            `total_price` totalPrice,
            t.`sort_no` sortNo,
            t.`create_time` createTime,
            t.`create_by` createBy,
            t.`update_time` updateTime,
            t.`update_by` updateBy,
            t.`version`,
            t.`del_flag` delFlag,
            `app_del_flag` appDelFlag,
            `backend_del_flag` backendDelFlag,
            u.nick_name nickName
    </sql>

    <select id="getOrderList" resultType="com.ruoyi.project.storage.domain.BackendOrderVO">
        <include refid="SelectOrder"></include>
        from t_order t
        left join sys_user u
        on t.user_id = u.user_id
        and u.del_flag = 0
        where t.del_flag = 0
        and t.backend_del_flag = 0
        <if test="nickName != null and nickName != ''">
            and u.nick_name like concat(#{nickName},'%')
        </if>
        <if test="status != null">
            and t.status = #{status}
        </if>
        <if test="emptyBoxOrderTimeStart != null and emptyBoxOrderTimeStart !=''">
            and date_format(empty_box_order_time,'%y%m%d') >= date_format(#{emptyBoxOrderTimeStart},'%y%m%d')
        </if>
        <if test="emptyBoxOrderTimeEnd != null and emptyBoxOrderTimeEnd !=''">
            and date_format(#{emptyBoxOrderTimeEnd},'%y%m%d') >= date_format(empty_box_order_time,'%y%m%d')
        </if>
        <if test="heavyBoxOrderTimeStart != null and heavyBoxOrderTimeStart !=''">
            and date_format(heavy_box_order_time,'%y%m%d') >= date_format(#{heavyBoxOrderTimeStart},'%y%m%d')
        </if>
        <if test="heavyBoxOrderTimeEnd != null and heavyBoxOrderTimeEnd !=''">
            and date_format(#{heavyBoxOrderTimeEnd},'%y%m%d') >= date_format(heavy_box_order_time,'%y%m%d')
        </if>
    </select>

    <select id="getOrderById" resultType="com.ruoyi.project.storage.domain.BackendOrderVO">
        <include refid="SelectOrder"></include>
        from t_order t
        left join sys_user u
        on t.user_id = u.user_id
        and u.del_flag = 0
        where t.del_flag = 0 and t.id = #{id}
    </select>

    <delete id="deleteOrder">
        update t_order t
        set
            backend_del_flag = 2,
            update_time = now(),
            version = version + 1
        where id in(
        <foreach collection="ids" separator="," item="id">
            #{id}
        </foreach>
        )
    </delete>

    <insert id="saveOrderHis">
        INSERT INTO t_order_his (
                `order_id`,
                `user_id`,
                `status`,
                `order_code`,
                `order_name`,
                `empty_box_order_time`,
                `heavy_box_order_time`,
                `empty_box_call_name`,
                `empty_box_call_phone`,
                `empty_box_call_address`,
                `empty_box_call_time`,
                `empty_box_call_interval`,
                `heavy_box_call_name`,
                `heavy_box_call_phone`,
                `heavy_box_call_address`,
                `heavy_box_call_time`,
                `heavy_box_call_interval`,
                `box_id`,
                `box_code`,
                `box_standard`,
                `box_unit_price`,
                `lease_duration`,
                `total_price`,
                `sort_no`,
                `create_time`,
                `create_by`,
                `update_time`,
                `update_by`,
                `version`,
                `del_flag`,
                `app_del_flag`,
                `backend_del_flag`
            )
            select
                `id`,
                `user_id`,
                `status`,
                `order_code`,
                `order_name`,
                `empty_box_order_time`,
                `heavy_box_order_time`,
                `empty_box_call_name`,
                `empty_box_call_phone`,
                `empty_box_call_address`,
                `empty_box_call_time`,
                `empty_box_call_interval`,
                `heavy_box_call_name`,
                `heavy_box_call_phone`,
                `heavy_box_call_address`,
                `heavy_box_call_time`,
                `heavy_box_call_interval`,
                `box_id`,
                `box_code`,
                `box_standard`,
                `box_unit_price`,
                `lease_duration`,
                `total_price`,
                `sort_no`,
                now(),
                `create_by`,
                now(),
                `update_by`,
                `version`,
                `del_flag`,
                `app_del_flag`,
                `backend_del_flag`
            from t_order where id = #{id}
    </insert>

    <update id="updateOrder" parameterType="map">
        update t_order
        set status = #{status},
            version = version+1,
            update_by = #{updateBy},
            update_time = now()
        where id = #{id}
        and version = #{version}

    </update>
</mapper>