<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.project.storage.mapper.ManagerAdviceMapper">

    <select id="getList" resultType="com.ruoyi.project.storage.domain.AdviceVO">
        select
            t.id,
            t.user_id userId,
            u.nick_name nickName,
            t.title,
            t.content,
            t.sort_no sortNo,
            t.create_time createTime,
            t.create_by createBy,
            t.update_time updateTime,
            t.update_by updateBy,
            t.version version,
            t.del_flag delFlag
        from t_advice t
        left join sys_user u
        on t.user_id = u.user_id
        and u.del_flag = 0
        where t.del_flag = 0
        <if test="searchValue != null and searchValue != ''">
            and((t.title like concat('%',#{searchValue},'%')) or (u.nick_name like concat('%',#{searchValue},'%')))
        </if>
        order by t.id
    </select>
</mapper>